<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <appSettings>
    <add key="port" value="2010"/>
    <add key="address" value="localhost"/>
    <!--192.168.0.118-->
    <add key="MainDocDef" value="CABINET"/>
    <add key="MainFolPathID" value="4"/>
    <add key="serviceEngineString" value="mUS1yZKgpz2r/3KIQkUeEs5heANiPQy0fKHkW8Z8WzqJvF9ahSaUZ7bAyH3jvWml"/>
    <add key="timeout" value="30"/>
    <add key="ISAD" value="0"/>
    <add key="LDAPAddress" value="LDAP://bkrm.com.my/DC=bkrm,DC=com,DC=my"/>
    <add key="IntraSystemAdmin" value=""/>
    <add key="" value="IntraSystemAdminP"/>
  </appSettings>
</configuration>